name: scrape

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'
          cache: 'npm'
      - run: npm install
      - run: npm start

      - name: Check for changes
        id: git-check
        run: |
          git diff --exit-code || echo "artworks=true" >> $GITHUB_ENV

      - name: Commit and push if there are changes
        if: env.artworks == 'true'
        run: |-
          git config user.name "mldangelo"
          git config user.email "michael.l.dangelo@gmail.com"
          git add artworks.json
          git commit -m "Update artworks.json from scraper"
          git push